/* Подключение шрифта из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Общие стили для приложения */
.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #f4f4f4; /* Цвет фона страницы */
  position: relative;
}

/* Основной контейнер */
.main-container {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: auto;
  top: 0;
}


/* Заголовки */
h4 {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

/* Стиль для блока флажков */
.permissions {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.permissions label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.permissions input[type="checkbox"] {
  margin-right: 12px;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #148e5f;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.permissions input[type="checkbox"]:checked {
  background-color: #148e5f;
  border-color: #148e5f;
}

.permissions input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.permissions input[type="checkbox"]:hover {
  background-color: #e6f9e6;
}

/* Стиль для кнопок */
button {
  padding: 12px 25px;
  border: none;
  background-color: #148e5f;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 10px 0;
  width: 100%; /* Делаем кнопки одинакового размера */
  max-width: 300px; /* Максимальная ширина кнопок */
}

.button-main {
  padding: 12px 40px;
  border: none;
  background-color: #148e5f;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 3.5px;
  width: 100%; /* Делаем кнопки одинакового размера */
  max-width: 300px; /* Максимальная ширина кнопок */

}

button:hover {
  background-color: #117f4b;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

/* Стиль для блока файлов */
.file-upload-section {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.file-name {
  font-size: 1em;
  color: #333;
  width: 60%;
}

.file-date {
  font-size: 0.9em;
  color: #888;
}

.file-item button {
  background-color: #4caf50;
  margin-left: 10px;
}

.file-item button:hover {
  background-color: #45a049;
}

/* Стили для действий с файлами */
.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.action-buttons button {
  width: 48%;
}


/* Общий стиль для кнопок "Загрузить" */
.download-button {
  padding: 10px 20px; /* Внутренние отступы для кнопки */
  border: none;
  background-color: #4caf50; /* Зеленый фон */
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0px 0px; 
  width: 100%; /* Кнопка будет растягиваться на всю доступную ширину */
  max-width: 110px; /* Максимальная ширина кнопки */
  text-align: center;
}

.download-button:hover {
  background-color: #45a049; /* Темный зеленый при наведении */
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

.download-button:focus {
  outline: none;
}

