/* Основные стили для списка файлов */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .file-item span {
    margin-right: 10px;
    flex-grow: 1;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
  }
  
  button {
    padding: 1px 20px;
    cursor: pointer;
  }

  .fileUpdate-container{
    height:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    border: none;

  .h3{
    margin-right: 25px;
    display:block
  }
}




  